/*CSS Document */

/* Universal styles */

body {
  font-family: Helvetica; sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;


}


/*Header */

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 3;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  color: seashell;
  top: 0;
  left: 0;
  background-color: black;

}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;

}

.logo img {
  margin-left: 10px;
  height: 50px;

}

header nav {
  padding-right: 10px;
}

nav span {
  padding: 20px 10px;
  display: inline-block;
  font-size: 22px;
  text-decoration: underline;
}

a {
  color: seashell;
}

/* Main Content*/

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1300px;
  margin: auto;
}

/*  Mission Content */

.mission {
  display: flex;
  flex-direction: column;
}

.image-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 700px;
  width: 1200px;
  text-align: center;
  margin: 0 25px;
  position: relative;
  background-color: black;

}

.mission .image-content {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  z-index: -3;
  margin-top: 65px;
}

.our-mission  {
  background-color: black;
}

.mstatement  {
  background-color: black;
}

/* Tea of the Month */

.teas {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 1000px;

}

.tea-month {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
  height: 40px;
  margin: 65px auto;

}

.tea-month .steeping {
  margin-top: -8px;

}

/* Images */

.container {
  width: 1000px;
  margin: auto;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
}

.images  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 20px;
}

.tea-pics img {
  width: 300px;
  height: 200px;
  display: block;
  margin: 10px;
}
.blitz {
  padding: 10px;
}

/* Locations */

.locations-image {
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 500px;
  margin: 0 auto;
  position: relative;
  background-size: cover;
  text-align: center;

}
.locations-image .locations {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  z-index: -3;

}
